<h2 class="mt-4">Your Tasks</h2>
<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Due Date</th>
      <th>Status</th>
      <th>Assigned To</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.due_date %></td>
        <td>
          <% if task.completed? %>
            <span class="badge bg-success">Completed</span>
          <% else %>
            <span class="badge bg-warning text-dark">Pending</span>
          <% end %>
        </td>
        <td><%= task.assigned_to&.email || "Unassigned" %></td>
      </tr>
    <% end %>
    <h2>Admin Dashboard</h2>

      <%= link_to "Invite Manager", invite_manager_admin_managers_path, method: :get, class: "btn btn-primary" %>

  </tbody>
</table>
